header {
    position: fixed;
    top: 0;
    left: 0;          /* garante que começa da esquerda */
    width: 100%;      /* ocupa a tela inteira */
    background-color: #F8F8FF;
    min-height: 110px; /*coloquei isso pois a logo estava encostando no topo do navegador*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;    /* fica acima de tudo */
    padding: 10px 5%;
    box-sizing: border-box;
}

/*A header tá um pouco grande, aquela função que diminui a tela ao rolar para baixo é feita no JavaScript*/
/*Vou diminuir ela um pouco e alinhar a logo*/
/*A imagem da mulher tá com um vão embaixo e eu não sei o que fazer já tentei de tudo!*/


main{
    margin-top: 120px;
}

header a{
    text-decoration: none;
    color: #33D21E;
}

.logo{
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img{
    max-height: 140px;
    width: auto;
    display: block;
}

.container{
    display: flex;
    list-style: none;
    gap: 20px;
}

.acao{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5%;
}

button{
    width: 80px;
    height: 40px;
    border-radius: 25px;
    font-weight: bold;
    
}

.acao button{
    display: inline-block;
    background-color: #BDFFA6;
    color: #3420E6;
    transition: all 0.3s ease;

}

button:hover{
    background-color: #67B0E5;
    color: #BDFFA6;
}
.acao a{
    font-weight: bold;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 25px;
    transition: all 0.3s ease;

}

.acao a:hover{
    background-color: #67B0E5;
    color: #BDFFA6;
}

/*Parte principal*/

h1{
    color: white;
}

.hero{
    background-color: #67B0E5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    border-radius: 20px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

/* Container da imagem */
.banner-mulher {
    position: relative;
    width: 500px;
    height: 500px;
}

/* Forma verde (blob) */
.blob {
    position: absolute;
    width: 420px;
    height: 320px;
    background-color: #7CFC6B;

    /* formato parecido com a imagem */
    border-radius: 50% 40% 50% 40%;

    /* centraliza atrás da mulher */
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

/* Mulher */
.mulher {
    position: relative;
    z-index: 2;

    max-width: 420px;
    height: auto;

    display: block;
}

/*cards*/
.container-vantagens{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    
}

.card-vantagem{
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}


.card-vantagem img{
    height: 120px;
    width: 120px;
    height: auto;
    margin-bottom: 0;
    object-fit: contain;
    padding: 20px;
    background-color: white;
    padding: 3%;
    border-radius:50% ; /* Formato de domo para cada um */                    /* Largura fixa para ficarem iguais */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
/*parte do meio*/
.blob-verde{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #7CBF5C;
    border-radius: 40px;
    padding: 40px 40px 0 40px;
}
.muier-verde{
    align-self: flex-end
}
.muier-verde img{
    margin-top: 50px;
    max-width: 105%;
}
.conteudo-esquedot h1{
    max-width: 450px;
 }

/*footer*/
footer{
    padding: 2%;
    background-color: #BDFFA6;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

.img-logo{
    max-height: 140px;
    width: auto;
    display: block;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-col h3{
    font-size: 16px;
    margin: 0;
    color: #333;

}

.social-icons{
    display: flex;
    height: auto;
}

.footer-col img {
    width: 35px; 
    height: auto;
}

/*Contatos*/
.footer-contato{
    padding-left: 0;   /* Remove o espaço interno da caixa de contato */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-contato address{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: normal;
}

.contato{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contato img{
    width: 20px;
    height: auto;
}
.email img{
   width: 20px;
    height: auto; 
}

.contato a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: color 0.3s;
}

.email a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-contato h3{
    margin-left: 0;
    text-align: left;

}

